@import './Mixins';
@import './Variables';

.context-menu{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    z-index: 999;
    box-shadow: -2px 2px 6px 1px rgba(0,0,0,0.4);
    .context-menu__list{
        width: 130px;
        background-color: rgba(54, 89, 192, 0.8);
        list-style-type: none;
        .context-menu__item{
            padding: 5px 9px;
            margin: 0 15px;
            color: #fff;
            border-bottom: 1px solid rgba(149, 150, 212, 0.8);
            font-size: 12px;
            cursor: pointer;
            &:last-child{
                border: none;
            }
        }
    }
    &.active{
        display: block;
    }
}