@keyframes arrow-bounce {
    0%{
      transform:  scale(1);
    }
    95%{
      transform:  scale(1);
    }
    97%{
      transform:  scale(1.15);
    }
    100%{
      transform:  scale(1);
    }
  }