@import "./Keyframes";

@mixin flex-mother(
  $flex-direction: row,
  $justify-content: stretch,
  $align-items: stretch,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin unlogged-mid-button($height: 80px, $width: 80px) {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: $height;
  line-height: calc(0.9 * #{$height});
  width: $width;
  transform: translate(50%, 50%);
  z-index: 111;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #222;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: royalblue;
    transition: 0.3s;
    z-index: -1;
  }
  &:hover:before {
    left: 0;
  }
  &:hover {
    color: #fff;
  }
}

@mixin arrow-item($size: 40px) {
  content: "";
  display: block;
  position: absolute;
  top: 90%;
  left: -20%;
  width: calc(#{$size} / 3);
  height: calc(#{$size} / 3);
  background-color: royalblue;
  border-radius: 50%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

@mixin arrow($top: 0, $left: 0, $right: auto, $rotate: -135deg, $size: 40px) {
  position: absolute;
  top: $top;
  left: $left;
  width: $size;
  height: $size;
  transform: rotate($rotate);
  .unlogged__arrow {
    width: 100%;
    height: 100%;
    clip-path: polygon(
      40% 10%,
      40% 35%,
      100% 35%,
      100% 65%,
      40% 65%,
      40% 90%,
      0% 50%
    );
    background-color: royalblue;
    animation: 6s arrow-bounce linear infinite;
  }
  &:before {
    @include arrow-item($size);
  }
  &:after {
    @include arrow-item($size);
  }
}

@mixin header-logged-btn($height: 40px, $width: 180px) {
  width: $width;
  height: $height;
  line-height: 10px;
  padding: 10px 20px;
  border: 2px solid #fff;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border-radius: 20px;
  transition: 0.1s;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: 0 0 5px 5px inset rgba(255, 255, 255, 0.1);
  }
}

@mixin login-input() {
  position: relative;
  margin: 20px 0;
  & input {
    display: block;
    width: 200px;
    padding: 7px 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    font-size: 16px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
    &:focus {
      outline: 1px solid rgb(82, 114, 209);
    }
  }
  & label {
    position: absolute;
    left: 0;
    top: -12px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.7);
  }
}

@mixin login-btn($margin-top: 25px) {
  position: relative;
  margin-top: $margin-top;
  padding: 10px 20px;
  border: 1px solid rgb(82, 114, 209);
  border-radius: 5px;
  background-color: transparent;
  color: rgb(82, 114, 209);
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  &:before {
    position: absolute;
    top: 0;
    left: -100%;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgb(82, 114, 209);
    transition: 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
  }
  &:hover:before {
    left: 0;
  }
  &:focus {
    outline: 1px solid rgb(82, 114, 209);
  }
}

@mixin add-marker-input($width: 100%, $margin: 5px 10px 5px 10px) {
  width: $width;
  margin: $margin;
  input {
    display: block;
    width: 100%;
    height: 22px;
    padding: 0 2px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
  }
  textarea {
    width: 100%;
    padding: 2px;
    resize: none;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    scrollbar-width: thin;
  }
}

@mixin add-marker-button() {
  width: 80px;
  height: 30px;
  margin: 10px 25px 20px 25px;
  border: 1px solid rgb(82, 114, 209);
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  &:active {
    box-shadow: 0 0 10px 2px inset rgba(0, 0, 0, 0.2);
  }
  &:focus {
    outline: none;
  }
}
