@import './HeaderUnlogged';
@import './MainPageUnlogged';
@import './LoginAndRegister';
@import './HeaderLogged';
@import './MainPageLogged';
@import './MarkerList';
@import './MapComponent';
@import './ContextMenu';
@import './AddMarker';
@import './Footer';
@import './Tools';
@import './Variables';

//    font-family: 'Quicksand', sans-serif;
//    font-family: 'Playfair Display', serif;
//    font-family: 'Roboto Slab', serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.App{
    height: 100vh;
    box-shadow: 0 0 30px 10px inset rgba(66, 106, 226,0.2);
}

.main-page{
    height: calc(100% - #{$footerHeight1024});
}